#! /bin/bash

set -eo pipefail
source variables.sh


if ! command -v helm &>/dev/null; then
  echo "Installing helm..."
  brew install helm
fi

if ! command -v kind &>/dev/null; then
  echo "Installing kind..."
  brew install kind
fi

if ! command -v kubectl &>/dev/null; then
  echo "Installing kubectl..."
  curl -LO "https://dl.k8s.io/release/$(curl -L -s https://dl.k8s.io/release/stable.txt)/bin/darwin/arm64/kubectl"
fi
